.about-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 100px 0;
    flex-wrap: wrap;
}

.about-left {
    height: fit-content;
    display: flex;
    align-items: center;
}

.about-left img {
    height: 80vh;
    max-width: 100%;
    object-fit: cover;
}

/* Existing CSS */
.about-right {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 50px 0;
    overflow: hidden;
}

.about-right-text {
    height: 90%;
    overflow-y: auto;
    text-align: justify;
    font-family: Montserrat;
}

.about-right-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.about-right-content p {
    width: 80%;
    margin-top: 0;
}

.about-right-title {
    margin-top: 0px;
    width: 10%;
}

/* New CSS */
.scroll-indicator {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.scroll-indicator .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 5px;
}

.scroll-indicator.down .arrow {
    border-top: 5px solid black;
}

.scroll-indicator.up .arrow {
    border-bottom: 5px solid black;
}

@media screen and (max-width: 1200px) {
    .about-right {
        width: 70%;
    }
}

@media screen and (max-width: 840px) {
    .about-container {
        flex-direction: column;
        margin: 140px 0 100px 0;
    }

    .about-left {
        flex-direction: column;
    }

    .about-left img {
        height: auto;
        width: 60%;
    }

    .about-right {
        width: 90%;
        margin: 20px 0;
    }

    .about-right-title {
        width: auto;
        text-align: center;
    }

    .about-right-content {
        flex-direction: column;
        align-items: center;
    }

    .about-right-content p {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .about-left img {
        height: auto;
        width: 60%;
    }

    .about-left {
        flex-direction: column;
    }

    .about-right {
        width: 100%;
        margin: 10px 0;
    }

    .about-right-title {
        width: auto;
        text-align: center;
        font-size: 1.2rem;
    }

    .about-right-content {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .about-right-content p {
        width: 100%;
        padding: 0 10px;
        font-size: 0.9rem;
    }
}